.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 90%;
	margin-left: 14%;
	max-width: 800px;
	justify-content: center;
	align-items: center; /* Supaya item sejajar */
  }
  
  .grid li {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: #f8f9fa;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	width: 100%;
	aspect-ratio: 1 / 1;
	justify-content: space-between;
  }
  
  .grid li:hover {
	transform: translateY(-5px);
  }
  
  .grid img {
	width: 80%;
	height: auto;
	object-fit: contain;
	border-radius: 8px;
  }
  
  .grid h3 {
	font-size: 18px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin: 10px 0;
  }
  
  .grid p {
	font-size: 14px;
	line-height: 1.5;
	max-width: 90%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* Responsif */
  @media (max-width: 600px) {
	.grid {
	  grid-template-columns: 1fr;
	}
  }
  